[submodule ".config/iterm2/colors/Nord"]
	path = .config/iterm2/colors/Nord
	url = https://github.com/arcticicestudio/nord-iterm2.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
