[user]
    name          = tinyRatP
    email         = me@tinyrat.me
    ; signingkey = 25F5D09C68CB6E97
[commit]
    ; gpgsign = true
[gpg]
    program       = gpg
[core]
    editor        = nvim
[pull]
    rebase        = true
[alias]
    st            = status
    stnu          = status --untracked-files=no
    ci            = commit
    rs            = restore --staged
    br            = branch
    co            = checkout
    df            = diff
    dc            = diff --cached
    lg            = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[diff]
    noprefix      = true
[color]
    ui            = true
[color "diff"]
    meta          = yellow
    frag          = magenta bold
    commit        = yellow bold
    old           = red bold
    new           = green bold
    whitespace    = red reverse
; [https]
    ; proxy         = http://127.0.0.1:7890
    ; lowSpeedLimit = 0
    ; lowSpeedTime  = 999999
; [http]
    ; proxy         = http://127.0.0.1:7890
    ; lowSpeedLimit = 0
    ; lowSpeedTime  = 999999
