[push]
	autosetupremote = true
	default = current
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[commit]
	verbose = true
    ; gpgsign = true
[user]
	email = qiaohao.peng@outlook.com
	name = qiaohao
    ; signingkey = A703B3F6DD9910FB
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	submodule = log
	noprefix = true
[core]
	excludesfile = ~/.config/git/ignore
	autocrlf = false
	editor = nvim
	pager = delta
[status]
	submoduleSummary = true
[submodule]
	recurse = true
[log]
	date = iso
[color "diff"]
	meta = yellow
	whitespace = red reverse
	new = green bold
	old = red bold
	frag = magenta bold
	commit = yellow bold
[color]
	ui = true
[alias]
	st = status
	stnu = status --untracked-files=no
	ci = commit
	co = checkout
	df = diff
	dc = diff --cached
	rs = restore
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an %ae>%Creset' --abbrev-commit --date=format:'%Y-%m-%d %H:%M:%S'
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
