snippet docu "document{}" bA
\documentclass[$1]{$2}
$3
\begin{document}
	$4
\end{document}
endsnippet

snippet package "UsePackage" bA
\usepacage[$1]{$2}
endsnippet

snippet beg "begin{} / end{}" bA
\begin{$1}
	$0
\end{$1}
endsnippet

snippet chap "Chapter"
\chapter{$1}
	$0
endsnippet

snippet sec "Section"
\section{$1}
	$0
endsnippet

